
.odd{
    background-color: white;
    }

.even{
    background-color: #FAF0E6;
    }

.moi{
    width: 200px;
    align:center;
    display: block;
    margin : auto;
    list-style: none;
}
.bienvenue{
    background-color: #CED8F6;
    height: 50px;
}
body{
    background-color: #F0F9F7;
    }

