{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Soiree creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('soiree') }}" class="btn btn-primary">
            Retourner à la liste des soirées
        </a>
    </li>
</ul>
{% endblock %}
